.card {
    background-color: #1e1e1e;
    /* Fondo de la tarjeta */
    border: 1px solid #333;
    /* Borde sutil */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 198, 255, 0.1);
    /* Sombra azul */
}

.cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardContent {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: #f4f7f6;
    /* Texto claro */
}

.cardDescription {
    font-size: 0.9rem;
    color: #aaa;
    /* Gris más oscuro */
    flex-grow: 1;
}

.cardTech {
    font-size: 0.8rem;
    color: #00C6FF;
    /* Azul neón */
    margin-bottom: 15px;
}

.cardLinks {
    margin-top: auto;
    display: flex;
    gap: 15px;
}

.cardLink {
    text-decoration: none;
    font-weight: bold;
    color: #00C6FF;
    padding: 8px 12px;
    border: 1px solid #00C6FF;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cardLink:hover {
    background-color: #00C6FF;
    color: #121212;
    /* Texto oscuro al pasar el mouse */
}