.footer {
    background-color: #333;
    /* Fondo oscuro */
    color: #f4f7f6;
    /* Texto claro */
    padding: 30px 20px;
    text-align: center;
}

.footerText {
    margin-bottom: 10px;
    font-size: 0.9rem;
}