.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 600;
    color: #f4f7f6;
    /* Texto claro */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}