/* * index.css (Global)
 * Reseteo de estilos para empezar limpio.
 */

/* 1. Importamos una fuente moderna (Poppins) desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* 2. Reseteo de márgenes y 'box-sizing' */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* El padding no afectará el ancho total */
}

/* 3. Aplicamos la fuente y un fondo oscuro (Dark Mode) */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  /* Fondo modo oscuro */
  color: #f4f7f6;
  /* Texto claro */
}